<disk type='file' device='disk'>
   <driver name='qemu' type='qcow2' cache='none'/>
   <source file='{{ virt_disk_image_path }}{{ compute_nodes }}-{{ virt_vdb_postfix }}.{{ virt_disk_format }}'/>
   <target dev='vdb'/>
</disk>