server {{ ntp_server1 }} iburst minpoll 4 maxpoll 10
{% if ntp_server2 %}
server {{ ntp_server2 }} iburst minpoll 4 maxpoll 10
{% endif %}

restrict {{ ntp_server1 }} notrap nopeer noquery
{% if ntp_server2 %}
restrict {{ ntp_server2 }} nomodify notrap nopeer noquery
{% endif %}

# Record the rate at which the system clock gains/losses time.
driftfile /var/lib/chrony/drift

# Allow the system clock to be stepped in the first three updates
# if its offset is larger than 1 second.
makestep 1.0 3

# Enable kernel synchronization of the real-time clock (RTC).
rtcsync

# Access Control Support
restrict    default kod nomodify notrap nopeer noquery
restrict -6 default kod nomodify notrap nopeer noquery
restrict 127.0.0.1
restrict 192.168.0.0 mask 255.255.0.0 nomodify notrap nopeer noquery
restrict 172.16.0.0 mask 255.240.0.0 nomodify notrap nopeer noquery
restrict 100.64.0.0 mask 255.192.0.0 nomodify notrap nopeer noquery
restrict 10.0.0.0 mask 255.0.0.0 nomodify notrap nopeer noquery
